* { font-size: 20px; } 

:root {
    --orange_main: #FF7F27;
}

.calc{
    margin:auto;
    margin-top: 2rem;
}

.navToggler:focus {
    outline: none;
    box-shadow: none;
}

.num { min-height: 75px; }
#calci { width: 75%; }
#screen { min-height: 100px; font-size: 50px; margin-top: 1.5rem;}

@media screen and (max-width: 768px) {
    .num { margin-bottom: 5px; }
}

@media screen and (max-width: 992px) {
    #calci { width: 100%; }
}

#startTimer, #pauseTimer, #resetTimer { font-size: large; }